	--color-fg   : #657b83;
	--color-bg   : #fdf6e3;
	--color-0    : #d33682;
	--color-1    : #002b36;
	--color-2    : #268bd2;
	--color-3    : #d33682;
	--color-4    : #268bd2;
	--color-5    : #268bd2;
	--color-tab-active-text : var(--color-bg);
	--color-tab-pinned-text : var(--color-fg);
	--color-tab-hover-text  : var(--color-bg);
