	--color-fg   : #d5d8d6;
	--color-bg   : #000000;
	--color-0    : #e96356;
	--color-1    : #d0d01e;
	--color-2    : #8aa4f0;
	--color-3    : #e96356;
	--color-4    : #8aa4f0;
	--color-5    : #8aa4f0;
	--color-tab-active-text : #000000;
	--color-tab-pinned-text : #000000;
	--color-tab-hover-text  : #d5d8d6;
