	--color-fg   : #3c3836;
	--color-bg   : #f2e5bc;
	--color-0    : #458588;
	--color-1    : #d0d01e;
	--color-2    : #cc241d;
	--color-3    : #458588;
	--color-4    : #cc241d;
	--color-5    : #cc241d;
	--color-tab-active-text : var(--color-bg);
	--color-tab-pinned-text : var(--color-fg);
	--color-tab-hover-text  : var(--color-bg);
