	--color-fg   : #f2e5bc;
	--color-bg   : #1d2021;
	--color-0    : #cc241d;
	--color-1    : #d0d01e;
	--color-2    : #458588;
	--color-3    : #cc241d;
	--color-4    : #458588;
	--color-5    : #458588;
	--color-tab-active-text : var(--color-fg);
	--color-tab-pinned-text : var(--color-fg);
	--color-tab-hover-text  : var(--color-fg);
